In [3]:
import pandas as pd
import requests

In [11]:
url = 'https://www.omdbapi.com/?i=tt3896198&apikey=f201ba85'
req = requests.get(url)

data = req.json()
print(data)

{'Title': 'Guardians of the Galaxy Vol. 2', 'Year': '2017', 'Rated': 'PG-13', 'Released': '05 May 2017', 'Runtime': '136 min', 'Genre': 'Action, Adventure, Comedy', 'Director': 'James Gunn', 'Writer': 'James Gunn, Dan Abnett, Andy Lanning', 'Actors': 'Chris Pratt, Zoe Saldaña, Dave Bautista', 'Plot': "The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father, the ambitious celestial being Ego.", 'Language': 'English', 'Country': 'United States', 'Awards': 'Nominated for 1 Oscar. 15 wins & 60 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNWE5MGI3MDctMmU5Ni00YzI2LWEzMTQtZGIyZDA5MzQzNDBhXkEyXkFqcGc@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '85%'}, {'Source': 'Metacritic', 'Value': '67/100'}], 'Metascore': '67', 'imdbRating': '7.6', 'imdbVotes': '802,014', 'imdbID': 'tt3896198', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': '$389,813,101', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}

In [20]:
url = 'https://www.omdbapi.com/?i=tt3896198&apikey=f201ba85'
req = requests.get(url)
data = req.json()

temp_df = pd.DataFrame([data])[['Title','Year','Genre','Director','Rated']]

In [21]:
temp_df

,Title,Year,Genre,Director,Rated
0,Guardians of the Galaxy Vol. 2,2017,"Action, Adventure, Comedy",James Gunn,PG-13

In [43]:
search_url = 'https://www.omdbapi.com/?s=batman&apikey=f201ba85'
search_response = requests.get(search_url).json()

movie_ids = []
search_results = search_response.get('Search',[])

for movie in search_results:
    imdbid = movie.get('imdbID')
    if imdbid:
        movie_ids.append(imdbid)

movie_details = []

for imdbid in movie_ids:
    detail_url = f'https://www.omdbapi.com/?i={imdbid}&apikey=f201ba85'
    detail_response = requests.get(detail_url).json()
     
    if detail_response.get("Response") == "True":
        movie_details.append(detail_response)

In [42]:
df = pd.DataFrame(movie_details)[['Title', 'Year', 'Genre', 'Director']]
df

,Title,Year,Genre,Director
0,Batman Begins,2005,"Action, Crime, Drama",Christopher Nolan
1,The Batman,2022,"Action, Crime, Drama",Matt Reeves
2,Batman v Superman: Dawn of Justice,2016,"Action, Adventure, Sci-Fi",Zack Snyder
3,Batman,1989,"Action, Adventure",Tim Burton
4,Batman Returns,1992,"Action, Crime, Fantasy",Tim Burton
5,Batman & Robin,1997,"Action, Sci-Fi",Joel Schumacher
6,Batman Forever,1995,"Action, Adventure",Joel Schumacher
7,The Lego Batman Movie,2017,"Animation, Action, Adventure",Chris McKay
8,Batman: The Animated Series,1992–1995,"Animation, Action, Adventure",N/A
9,Batman v Superman: Dawn of Justice (Ultimate E...,2016,"Action, Adventure, Sci-Fi",Zack Snyder

In [47]:
df.to_csv('movies1.csv',index=False)

In [45]:
df.shape

(10, 4)